@import "./node_modules/antd/dist/antd";
@import "./var.less";
@import "./overrides.less";
@import "./utils.less";

.main {
  margin: auto;
  max-width: @max-width;
}
.container {
  margin: 1em;
  padding-bottom: 75px;
}
.wrapper {
  padding-top: 44px;
}
// menu
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: @max-width;
  border-top: 1px solid #ddd;
  z-index: 1;
  .ant-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    padding-top: 10px;
  }
  .ant-menu-item {
    padding: 0;
    a {
      padding: 0 10px;
    }
  }
  .ant-menu-horizontal:after {
    position: absolute;
  }
  .anticon {
    display: block;
    margin-right: 0;
  }
  .eyecatcher {
    transform: scale(2);
  }
}
// topic
.topic-card-compact {
  margin: 0.5em 0;
  .ant-card-body {
    padding: 6px;
  }
  .topic-card-content {
    height: 17px;
  }
}
.topic-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-card-title-solved {
  color: #eb4f47;
}
.topic-card-content {
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-card-image {
  display: block;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
}

.topic-detail-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic-images  img {
  width: 100%;
}
.topic-main-image {
  margin: 10px -12px;
  position: relative;
  > img {
    width: 100%;
  }
}
.topic-solved-image {
  position: absolute;
  max-width: 300px;
  transform-origin: 50% 0;
  transform: translate(-50%, 0) rotate(-45deg);
  width: 50%;
  top: 20%;
  left: 20%;
  .topic-card-image & {
    width: 100%;
    top: 40%;
    left: 40%;
  }
  img {
    width: 100%;
  }
}
.topic-operate {
  margin: 1em 0;
  text-align: center;
}
.topic-list {
  padding: 2px;
}
.two-tabs {
  .ant-tabs-nav {
    width: 100%;
  }
  .ant-tabs-tab {
    margin-right: 0;
    text-align: center;
    width: 50%;
  }
}
.share-image {
  display: block;
  width: 100%;
}

.form-button {
  width: 100%;
}
.button-group {
  display: flex;
  button {
    margin-right: 1em;
    margin-left: 1em;
  }
}
// login
.auth {
  margin-top: 2em;
}
.auth-title {
  margin: 2em 0;
}
// slides
.slides {
  margin: 0 -1em;
  // height: 40vw;
  img {
    width: 100%;
  }
}
.slide {
  background: @primary-color;
}
// search input
.search-input {
  padding: 1em 1em;
  z-index: 1;
  background: #fff;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .14);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: @max-width;
  margin: auto;
}

.search-input-logo {
  height: 30px;
}
.search-results {
  margin-top: 1em;
}
// full screen modal
.full-screen-modal {
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
  padding-bottom: 0;
  .ant-modal-content {
    border-radius: 0;
  }
}
// me
.me-profile {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
.me-avatar {
  width: 100px;
  height: 100px;
}
.me-badge {
  font-size: 20px;

  .anticon {
    opacity: 0.6;
    padding: 0.5em;
    &.activated {
      color: @primary-color;
      opacity: 1;
    }
  }
}
.me-name {
  margin: 1em;
  input {
    width: 40%;
  }
}
.me-brief {
  span {
    color: grey;
  }
  textarea {
    width: 60%;
  }
}

// categories links
.cate-link {
  font-size: 16px;
  float: left;
  width: 100%;
  margin: 1em 0;
  a {
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    width: 44%;
    color: #494949;
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC",
      "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei",
      "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    padding: 10px;
    margin: 2% 3%;
    background: #f6f6f6;
    &:hover,
    &:active {
      color: #333;
      opacity: 0.8;
    }
  }
}
// feedback

.feedback img {
  width: 100%;
  display: block;
}
//
.register-links {
  margin-top: 100px;
  text-align: center;
  font-size: 13px;
  > div {
    padding: 10px;
  }
}

// uploader
.uploader {
  margin-bottom: 1em;
}
.uploader-tips {
  font-size: 10px;
  text-align: center;
  color: #999;
  width: 100%;
}

// comment list

.comment {
  background: #f6f6f6;
  padding: 1em;
  margin: 0 0 1em 0;
}
.comment-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5em;
  > * {
    padding-left: 0.5em;
  }
}
.comment-avatar {
  img {
    border-radius: 50%;
    width: 14px;
  }
}
