// antd color
@primary-color : #ee8100;

// antd button
@btn-height-base : 36px;
@btn-height-lg : 40px;
@btn-height-sm : 30px;
@form-component-height: 40px;
// antd card
.ant-card {
  margin: 1em 0 1em;
}
.ant-card-body {
  padding: 12px;
}

// ant dropdown
.ant-dropdown-menu-item {
  font-size: 14px;
}

// antd modal
.ant-modal {
  top: 48px;
}

// antd uploader progressbar
.ant-upload-list-item-progress {
  left: 0;
}

// antd uploader images
@uploader_image_col : 3;
@uploader_gap : (12px + 1px + 12px) * 2 + 8px * @uploader_image_col;
.ant-upload-list-picture-card .ant-upload-list-item,
.ant-upload.ant-upload-select-picture-card {
  width: ~"calc((100vw - @{uploader_gap}) / @{uploader_image_col})";
  height: ~"calc((100vw - @{uploader_gap}) / @{uploader_image_col})";
  margin: 4px;
  @media (min-width: @max-width) {
    width: calc((@max-width - @uploader_gap) / @uploader_image_col);
    height: calc((@max-width - @uploader_gap) / @uploader_image_col);
  }
}

// antd uploader actions
.ant-upload-list-picture-card .ant-upload-list-item-actions {
  height: 100%;
  width: 100%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    i {
      opacity: 0;
    }
  }
}

// antd badge
.ant-badge-count {
  top: auto;
  bottom: 0;
  background-color: @primary-color;
}
.ant-menu-horizontal {
  .ant-menu-item-selected {
    border-bottom-width: 0;
    a {
      color: @primary-color;
    }
  }
}
.ant-select-search__field {
  font-size: 16px;
}

// layout
body {
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 1em;
}

img {
  display: block;
}
input {
  -webkit-appearance: none;
}
select {
  -webkit-appearance: none;
  & + .ant-select-arrow {
    z-index: 2;
  }
}
