.space-around-row {
  display: flex;
  justify-content: space-around;
}
.flex-start-row {
  display: flex;
  justify-content: flex-start;
}
.flex-end-row {
  display: flex;
  justify-content: flex-end;
  & > * {
    margin: 0 0 0 15px;
  }
}
.space-between-row {
  display: flex;
  justify-content: space-between;
  & > * {
    padding: 0 5px;
  }
}

// help class
.v-center {
  text-align: center;
  margin: 1em auto;
}

.hide {
  display: none;
}
.align-right {
  text-align: right;
}
.auto-height {
  height: auto;
}
